# Introduction to Machine Learning


## Preprocessing part 2
In previous section, we dealt with numpy arrays, pandas series and pandas data frame. In this section, we deal with CSV files, missing data, Query, Grouping, Categorical Variables, apply function and merging two data frames.

### Reading and Writing CSV files
To read a comma separated file, we can use the pandas method read_csv to read the file and convert it to a data frame. To write a CSV file, we can use the to_csv method of the data frame. CSV files differ in their shapes, separators and null value representations.

In [83]:
import pandas as pd
import numpy as np

df= pd.read_csv("automobile.csv", sep=",", index_col=None, na_values="?")
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [84]:
df.to_csv("output.csv")

Pandas can read from multiple sources like Hadoop file system, JSON files, HTML, pickle files, Database query, SAS files, etc.

### Missing Data
Missing data or null values represent the absence of data due to some problem in the source system. Most of machine learning models don't accept missing data in their training dataset. We need a way to handle the null values to make an accurate model.

#### Finding Missing Data
The method isnull() returns True for null values otherwise, it returns null. The isnull() method could be applied both on DataFrame level or Column level.

In [85]:
df.isnull().head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [86]:
df['normalized-losses'].isnull().head()

0     True
1     True
2     True
3    False
4    False
Name: normalized-losses, dtype: bool

We can find the count of the NA using sum(). Summing the boolean values will result in the number of true values ( True as 1 and False as 0).

In [87]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [88]:
df['normalized-losses'].isnull().sum()

41

#### Dropping the null values
One can choose to delete the entire row which has null values. Another can choose to delete the only columns with null values. Both the methods might lose a big portion of data. The method dropna() of dataframe eliminates the row with null values.

In [89]:
df2=df.dropna() # or use inplace=True
df2.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.8,8.8,101.0,5800.0,23,29,16430.0

#### Imputing Missing Values
We agree that we don't want to lose any part of our data. There are several ways to replace the null values. One can use the average value of the column for continuous and discrete columns. Another can use the most frequent value to replace a null in the categorical columns. Also, there is a solution based on building a regression model to predict the null values. The method fillna() performs the replacement. It can be used both on the data frame level or column level. Note: most frequent value could be accessed via mode(), and it might return more than one value in a series object.

In [90]:
df['normalized-losses'].fillna(df['normalized-losses'].mean(), inplace=True)
df['normalized-losses'].head()

0    122.0
1    122.0
2    122.0
3    164.0
4    164.0
Name: normalized-losses, dtype: float64

In [91]:
df.make.fillna(df.make.mode()[0], inplace=True)
df.make.head()

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: make, dtype: object

### Query
We can subset the dataframe using the boolean indexing like in the previous section. Another intersting way is to use the query method of the dataframe. Inside the query method, we can use the AND condition "&"  and the OR condition "|". The result of the query method is also a dataframe object.

In [92]:
df.query('make=="audi" & aspiration=="turbo"')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
9,0,122.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160.0,5500.0,16,22,NaN

In [93]:
df.query('make=="audi" | aspiration=="turbo"').head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,18920.0

### Group By
Group by performs a function on a grouping of rows. The grouping columns subsets the dataframe into smaller internal parts and performs a function on each part separately. The group by returns a dataframe.

In [94]:
df.groupby(['make','aspiration']).mean().head()

                        symboling  normalized-losses  wheel-base      length  \
make        aspiration
alfa-romero std          2.333333              122.0   90.566667  169.600000
audi        std          1.600000              146.0  102.120000  183.180000
            turbo        0.500000              140.0  102.650000  185.450000
bmw         std          0.375000              156.0  103.162500  184.500000
chevrolet   std          1.000000              100.0   92.466667  151.933333

                            width  height  curb-weight  engine-size      bore  \
make        aspiration
alfa-romero std         64.566667  50.000  2639.666667   137.333333  3.206667
audi        std         68.340000  54.620  2693.200000   130.600000  3.190000
            turbo       69.650000  53.950  3069.500000   131.000000  3.130000
bmw         std         66.475000  54.825  2929.375000   166.875000  3.473750
chevrolet   std         62.500000  52.400  1757.000000    80.333333  2.990000

                          stroke  compression-ratio  horsepower  peak-rpm  \
make        aspiration
alfa-romero std         2.943333           9.000000  125.333333   5000.00
audi        std         3.400000           8.700000  109.400000   5500.00
            turbo       3.400000           7.650000  150.000000   5500.00
bmw         std         3.167500           8.575000  138.875000   5068.75
chevrolet   std         3.083333           9.566667   62.666667   5300.00

                         city-mpg  highway-mpg         price
make        aspiration
alfa-romero std         20.333333    26.666667  15498.333333
audi        std         19.800000    25.400000  16656.000000
            turbo       16.500000    21.000000  23875.000000
bmw         std         19.375000    25.375000  26118.750000
chevrolet   std         41.000000    46.333333   6007.000000

In [95]:
df.groupby(['make','aspiration']).stroke.mean().head()

make         aspiration
alfa-romero  std           2.943333
audi         std           3.400000
             turbo         3.400000
bmw          std           3.167500
chevrolet    std           3.083333
Name: stroke, dtype: float64

In [96]:
df.groupby(['make','aspiration'])['normalized-losses'].var().head()

make         aspiration
alfa-romero  std              0.000000
audi         std            486.000000
             turbo          648.000000
bmw          std           1323.428571
chevrolet    std            403.000000
Name: normalized-losses, dtype: float64

### Categorical Variables
Categorical variables are variables that have values which represent classes or categories. Like being a short, a medium or a tall person. Values in the categorical variables could be labels (string) or numbers (integers). The sum of categorical variable is nonsense, one can't add the type I,II,III together to product type six, which has no meaning in the data. Pandas supports the categorical variable and we can make a column of a dataframe to be a categorical variable.

In [97]:
print(df.make.dtype)
df.make= df.make.astype('category')
print(df.make.dtype)

object
category

#### Encoding a Categorical Variable
Most of machine learning models are mathematical equations. They expect that all the variables to be numbers. The categorical variables might be labels or numbers. Changing the labels to numbers doesn't change the meaning of the data, but it changes the representation of the category. We can use LabelEncoder class of the sklearn library to perform this task.

In [98]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df.make)
print(df.make.head(7))
df.make=le.transform(df.make)
df.make.head(7)

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
5           audi
6           audi
Name: make, dtype: category
Categories (22, object): [alfa-romero, audi, bmw, chevrolet, ..., subaru, toyota, volkswagen, volvo]

0    0
1    0
2    0
3    1
4    1
5    1
6    1
Name: make, dtype: int64

In [99]:
# to view the classes of the LabelEncoder we use .classes_
list(le.classes_)

['alfa-romero',
 'audi',
 'bmw',
 'chevrolet',
 'dodge',
 'honda',
 'isuzu',
 'jaguar',
 'mazda',
 'mercedes-benz',
 'mercury',
 'mitsubishi',
 'nissan',
 'peugot',
 'plymouth',
 'porsche',
 'renault',
 'saab',
 'subaru',
 'toyota',
 'volkswagen',
 'volvo']

### Apply Function
In our previous lesson, we introduced the axis parameter for the mathematical operations. It controls the way the operation performs, axis=0 each column separately, axis=1 each row separately. Now, we want to develop a user defined function and call it in the same manner. We first develop a function that returns series and takes a series as input parameter. Then we use the apply method of the dataframe to perform this function on a certain axis of the dataframe.

In [100]:
def num_missing(x): # counting the no. of missing values
    return sum(x.isnull())

result= df.apply(num_missing, axis=0)
result

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

### Combining DataFrames
We can combine two dataframes together by appending them or by performing join operation.

In [101]:
#append
df1=pd.DataFrame(np.random.randn(3,4))
df2=pd.DataFrame(np.random.randn(5,4))
df3=df1.append(df2)
df3

          0         1         2         3
0 -0.853630  0.003516 -1.466403  0.226160
1 -1.527804  0.163061  0.084836  1.381938
2 -0.532514 -0.110483 -0.745864 -0.196203
0 -1.009670  0.400946 -0.092909 -0.090562
1 -0.283851 -0.446654  1.649386  0.297519
2  0.407721  2.724536 -0.552734  0.886219
3  0.706164 -1.308385 -1.778175  0.587377
4 -0.105045 -1.703341 -0.352065  0.624513

In [102]:
#join
left=pd.DataFrame({'key':['foo','bar'], 'lval':[1,2]})
print(left)
right=pd.DataFrame({'key':['foo','bar'], 'rval':[4,5]})
print(right)
result= pd.merge(left, right, on='key')
result

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5

   key  lval  rval
0  foo     1     4
1  bar     2     5

## References
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/
* https://www.analyticsvidhya.com/blog/2016/01/guide-data-exploration
* https://www.analyticsvidhya.com/blog/2013/11/simple-manipulations-extract-data/
* https://github.com/rohanrao91/DataProcessing_Python/blob/master/data_cleaning.py